/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 85%;
	margin-top: 50px;
	margin-bottom: 50px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.fa-solid {
	display: inline;
	font-weight: 100 !important;
	margin-right: 8px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.headband {
	width: 100%;
	height: 56px;
	display: flex; 
	flex-direction: row;
	background-color: black;
	margin-bottom: -10px;
	color: #FFFFFF;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-family: 'Work Sans';
}
.publication-button {
	border-radius: 60px;
	height: 40px;
	padding: 0px 24px;
	margin: 0px 24px;
}

#introduction {
	margin: 0px auto;
	width: 70%;
	display: flex;
	align-items: center;
	margin-bottom: 136px;
}
#introduction figure {
	margin: 0px auto;
	flex: 1;
}
#introduction img {
	width: 85%;
	padding-bottom: 16px;
}
#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#introduction .modify {
	display: flex;
	margin: auto;
	color: black;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio .modify {
	color: black;
	display: inline-flex;
	margin-left: 32px;
	font-size: 14px;
	font-style: normal;
	font-family: 'Work Sans';
	font-weight: 100;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 48px;
	margin-top: 48px;
	justify-content: center;
}
.buttons .button {
	display: flex;
	align-items: center;
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 24px;
	padding-right: 24px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color:  #1D6154;
	background-color: #FFFEF8;
	cursor: pointer;
}
input[type=checkbox] {
	display: none;
}
.button:has(> input[type=checkbox]:checked) {
	background-color: #1D6154;
	color: #FFFEF8;
}
.gallery {
	margin: 0px auto;
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
	height: 338px;
	object-fit: cover;
}
.hidden {
	display: none !important;
} 
.visibility-hidden {
	visibility: hidden;
} 

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login {
	margin-top: 104px;
	margin-bottom: 40px;
	display : flex;
	justify-content: center;
}

#authentification {
	margin: auto;
	margin-bottom: 304px;
	display: flex;
	flex-direction: column;
}
#authentification label{
	width: 384px;
	margin :auto;
}
#authentification input[type="email"], 
#authentification input[type="password"] {
	height: 48px;
	width: 384px;
	margin : 8px auto;
	margin-bottom: 24px;
	background-color:  #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
p.error {
	color: #D65353;
	margin: 24px 0px;
	font-size: 16px;
	font-family: 'Syne';
	font-weight: 400;
	text-align: center;
}
.submit {
	height: 48px;
	width: 176px;
	border: none;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
	border: none;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.modal {
	z-index: 1000;
	margin: 0px auto;
	padding-left: 104px;
	padding-right: 104px;
	padding-bottom: 24px;
	background-color: #FFFEF8;
	position: absolute;
	top: 200px;
	align-self: center;
	min-width: 320px;
}
.fa-xmark {
	border: none;
	height: 8px;
	width: 8px;
	font-weight: 900 !important;
	position: absolute;
	right: 32px;
	top: 32px;
	cursor: pointer;
}
.fa-arrow-left {
	border: none;
	height: 8px;
	width: 8px;
	font-weight: 900 !important;
	position: absolute;
	left: 32px;
	top: 32px;
	cursor: pointer;
}
.fa-trash-can {
	height: 8px;
	width: 8px;
	margin-right: 4px !important;
	margin-top: 4px !important;
}
.fa-image {
	margin-top: 32px;
	color: #CBD6DC;
	font-size: 56px;
}
.modal-title {
	text-align: center;
	margin-top: 56px;
	margin-bottom: 48px;
	font-size: 26px;
	font-style: normal;
	font-family: 'Work Sans';
	font-weight: 400;
}
.add-photo {
	display: flex;
	justify-content: center;
	padding: 8px 48px;
	width: 232px;
	height: 36px;
	border: none;
}
.submit-grey {
	background-color: rgba(167, 167, 167, 1) !important;
}
.del-gallery {
	text-align: center;
	margin-top: 32px;
	margin-bottom: 26px;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 400;
	color: #D65353;
}
.modal .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 48px;
}
.modal .gallery figure {
	width: 80px;
	position: relative;
}
.modal .gallery img {
	height: 104px;
	width: 80px;
	object-fit: cover;
}
.modal .gallery figcaption {
	display: flex;
	width: 80px !important;
}
.del-work {
	background-color: black;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
}
.img-add {
	width: 100%;
	background-color: #E8F1F7;
	border-radius: 3px;
	border: none;
	display: flex;
	flex-direction: column;
}
.img-icon {
	display: flex;
	margin: 0px auto;
	
}
.format-allowed {
	margin: 0px auto;
	margin-top: 8px;
	margin-bottom: 24px;
	display: flex;
	color: #444444;;
}
.add-button {
	margin: 0px auto;
	margin-top: 24px;
	padding-top: 16px;
	border-radius: 60px;
	border: none;
	background-color: #CBD6DC;
	color: rgba(48, 102, 133, 1);
	width: 180px;
	height: 32px !important;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
.input-zone {
	width: 100%;
	margin: 0px auto;
	margin-top: 32px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 48px;
}
#add-work-form input,
#add-work-form select {
	height: 40px;
	width: 100%;
	margin : 8px auto;
	margin-bottom: 24px;
	background-color:  #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
input[type="file"] {
	visibility: hidden;
	height: 2px;
}
#addWork {
	display: flex;
	flex-direction: column;
}
.image {
	display: flex;
	align-self: center;
	width: 129px;
	height: 193px;
	object-fit: cover;
	cursor: pointer;
}
.error-field {
	border: solid 1px #D65353 !important;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

